#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# Auto Resurrect configuration
########################################
#
#    AutoResurrect.Enable
#        Description: Enable or Disable the Auto Resurrect mod
#        Default:     0 - Disabled
#                     1 - Enabled
#

AutoResurrect.Enable = 0
